/* body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
 }
 .container {
    padding: 7% 30%;
 }
 button{
    font-size: 18px;
    border: none;
    padding:10px;
    background-color: darkblue;
    color:white;
 } */